@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'League Spartan', sans-serif;
}
* {
  scrollbar-width: auto;
  scrollbar-color: #635fc7 #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}

*::-webkit-scrollbar-track {
  background: #383672;
}

*::-webkit-scrollbar-thumb {
  background-color: #635fc7;
  border-radius: 10px;
}

* {
  white-space: nowrap;
}

@keyframes loading-animation {
  to {
    opacity: 0.2; /* Adjust opacity for the alternating effect */
  }
}
